@font-face {
    font-family: "googleFonts";
    src: url(https://fonts.google.com/);
  }
*{
    font-family: "googleFonts", Silkscreen;
    font-weight: normal;
    font-style:normal;
    font-stretch: semi-expanded;
}
.mainbody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    background-color: gray;
}
.header{
    display: block;
    background-color: rgb(109, 121, 123);
    position: sticky;
    top:10px;
    border-style: double;
    border-color: orange;
    border-width: 2px;
    border-radius: 10px;
}
#top{
    color: rgb(66, 66, 137) ;
    font-size: small;
}
h1{
    text-align: center;
}
#attendees{
    color: #ffa;
}
h2{
    color: hsla(120,100%,75%,0.3);
    text-decoration: wavy;
    text-align: center;
}
.boxlayout{
    background-color: darkcyan;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: 10;
    margin-right: 10;
    padding: 5px,5px,5px,5px;
}
.boxlayout{
    display: static;
    position: relative;
    top:5%;
    right:auto;
    border-style: double;
    border-color: orange;
    border-width: 2px;
    border-radius: 10px;
}
.notes{
    display: block;
    background-color: lightblue;
    border-style: double;
    border-color: green;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sec1{
    display: flex;
    align-items: baseline;
    border-style: double;
    border-color: orange;
    border-width: 2px;
    border-radius: 10px;
}

.sec2{
    display: flex;
    border-style: double;
    border-color: orange;
    border-width: 2px;
    border-radius: 20px;
}

.dropdown_list{
    background-color: aliceblue;
    padding:10%;
    display: inline-flex;
    border-style: double;
    border-color: orange;
    border-width: 2px;
    margin-top: 0.2in;
    margin-bottom: 0.2in;
    margin-left: 1cm;
    margin-right: 1cm;
}

.note_input{
    display:block;
    padding-left: 10mm;
    padding-top: 10mm;
    padding-right: 10mm;
    padding-bottom: 10mm;
    color: coral;
    border-style: dashed;
    background-color:darkcyan;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a[target="_blank"]{
    color:darkgoldenrod;
}

a[href^="#"] {
    border: 1px solid yellow;
    color: aquamarine;
}

a.hovereffect:hover {
color: #ff0000;
}
a.hovereffect:active {
    color: #0000FF;
}
h1,h2{
    color: #ffa;
}

.boxlayout ul li{
    background-color: lavender;
}

.boxlayout ol > li{
    background-color: antiquewhite;
}

label + input{
    background-color: cornsilk;
}

h2 ~ h4{
    color: aquamarine;
}

#conclusion{
    display: inline-table;
    background-color: #5cbec9;
    border-radius: 20px;
}

.item-a {
    grid-area: title;
}
.item-b {
    grid-area: img;
}
.item-c {
    grid-area: video;
    min-width: 100px;
    max-width: 300px;
}
.item-d {
    grid-area: audio;
}
.item-e{
    grid-area: audiotitle;
}
.medias {
    display: grid;
    align-self: center;
    align-items: stretch;
    margin-left: 30px;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 5px;
    grid-template-areas: 
      "title title"
      "img video"
      "audiotitle audiotitle"
      "audio audio";
}
.footer{
    display: inline-block;
    position: sticky;
    bottom: 20px;
    border-style: dashed;
    background-color: palegreen;
    border-radius: 10px;
    font-size: x-large;
}
